ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul a{
	width: 200px;
	height: 40px;
	display: block;
	color: black;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	background: #f7b600 url(imagens/menu.png);
}

a:hover{
	background-position: right bottom;
	background-color: #f99200;
	color: black;
}

#home #navegacao-vertical .home a,
#noticia #navegacao-vertical .noticia a,
#servico #navegacao-vertical .servico a,
#sobre #navegacao-vertical .sobre a,
#contato #navegacao-vertical .contato a{
	background-position: right bottom;
	background-color: #f99200;
	color: black;
}