body{
        font-family: "Trebuchet MS", Helvetica, sans-serif;
    }

fieldset {
	margin: 1em 0;
	padding: 0.5em;
	border-bottom: 1px solid #ccc;
	background: #f8f8f8;
	width: 350px;
}

legend {
	font-weight: bold;
}

label {
	display: block;
	cursor: pointer;
}

input {
	width: 80%;
}

textarea {
	width: 80%;
	height: 100px;
}

input.radio {
	width: auto;
}

.radio {
	margin-right: 0.5em;
}